table {
    width: 70%;
    margin-left: 15%;
  }
.filter {
    font-size: 14px;
    width: 70%;
    margin-left: 15%;

  }
.mat-toolbar{
  background-color:violet;
}
.title{
  padding-left: 45%;
  color:white;
}
.add{
  margin-top: 1%;
  margin-left:60%;
  
}
.mat-raised-button{
  background-color: #85929E;

}
.mat-form-field {
  width: 300px;

}
img{
  height: 300px;
  margin-left:2%;
  width: 450px;
}
.form,.image{
  display: inline-block;
  vertical-align: top;
  margin-left: 5%;

}
.mat-card{
  margin-left: 15%;
  margin-right: 25%;
  margin-top: 1%;
}
