<div class='add'>
    <button mat-raised-button color="primary" (click)="viewDeveloper()">View developers</button>&nbsp;

  </div>
<mat-card>
  <div>
  <div class="form">
<form [formGroup] = "this.developerService.myForm" (ngSubmit) = "onSubmit()">
  <input type="hidden" formControlName="$key">
  <input type="hidden" formControlName="submissionDate">
  <div>
    <mat-form-field>
      <input matInput formControlName="firstName" placeholder="First Name" required>
     
    </mat-form-field>
   
  </div>

  <div>
    <mat-form-field>
      <input matInput formControlName="lastName" placeholder="Last name" required>
    </mat-form-field>
  </div>
  <div>
      <mat-form-field>
          <input matInput [matDatepicker]="picker" formControlName="birthDate" placeholder="Date of birth ">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
  </div>
  <div>
      <mat-form-field>
          <mat-label>Role</mat-label>
          <mat-select formControlName="role">
            <mat-option *ngFor="let role of roles" [value]="role.value" required >
              {{role.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
   
  </div>
  <div *ngIf="this.developerService.myForm.get('role').value == 'Other'">
    <mat-form-field>
      <input matInput formControlName="roleSpecification" placeholder="Role specification" required>
    </mat-form-field>
  </div>
  
    <button  mat-raised-button color="primary" type="submit">Submit</button>

  
</form>
</div>
<div class="image">
  <img src="assets/eng.jpg"/>
</div>
</div>
</mat-card>
