.mat-form-field {
    width: 300px;

  }

  .mat-card{
      margin-left: 15%;
      margin-right: 25%;
      margin-top: 1%;
  }
  button{
      margin-left:25%;
  }

  img{
      height: 300px;
      margin-left:2%;
      width: 450px;
  }
  .form,.image{
      display: inline-block;
      vertical-align: top;
      margin-left: 5%;

  }
  .add{
    margin-top: 5%;
    margin-left:50%;
    
  }
  .mat-raised-button{
    background-color: #85929E;
  
  }
